@import 'value';

#chatGroup{
    position: relative;
    height: 100%;
    width: $widthNavbar;
    background-color: $backgroundNavbar;
    z-index: 999;

    & > div{
        position: relative;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
    }
    .label{
        text-align: center;
        font-weight: bold;
        background-color: $backgroundLabel;
        z-index: 1;
    }
    #users{
        position: relative;
        width: 100%;
        transition-duration: 0.6s;

        .cnt{
            position: relative;
            display: flex;
            flex-direction: column;
            transition-duration: 0.5s;
            list-style: none;
            margin: 0;
            padding: 0;

            .user{
                position: relative;
                display: flex;
                width: 100%;
                height: $heightUser;
                flex-direction: row;
                align-items: center;

                &:hover{
                    background-color: $userHover;
                    cursor: pointer;
                }
                &:active{
                    background-color: $userActivate;
                }
                & > div{
                    position: relative;
                }
                .avatar{
                    width: $heightUser - 0.5;
                    height: $heightUser - 0.5;
                    border-radius: 50%;
                    background-color: black;
                }
                .infoCnt{
                    width: $widthNavbar - $heightUser - 0.5;
                    height: 100%;

                    .name{
                        position: absolute;
                        top: 0.4rem;
                        left: 0.4rem;
                    }
                }
            }
        }
    }
}
