// Navbar
$widthNavbar: 15rem;
$backgroundNavbar: #EEEEEE;
$baseColor: #E0E0E0;
$backgroundLabel: darken($baseColor, 5%);

// User
$heightUser: 4rem;
$userHover: $baseColor;
$userActivate: $backgroundLabel;
