.messageOther {
    background: #0078d7;
    padding: 20px;
   /* height: 50px;  */
   /* display: flex; */
    float: left;
  /*  flex-direction: column; */
    justify-content: center;
   /* margin: 50px; */
    width: auto;
}

.messageUser {
    background: #005a9e;
  /*  height: 50px; */
    padding: 20px;
 /*   display: flex; */
    float: right;
  /*  flex-direction: column; */
    justify-content: center; 
  /*  margin: 50px; */
    width: auto;
}

.messageDate {
    align-self: right;
    vertical-align: bottom;
    color: white;
    padding: 20px;
}

.messageText {
    align-self: center;
    color: white;
      top: 50%; 
    padding: 20px;
     transform: translateY(-100%); 
}